<header class="h-[75px] w-full">
  <div class="centered-container justify-between w-full">
    <div class="relative flex items-center h-[100%] text-middle w-full">
	  <!--
      <div class="macaroni-icon">
        <img src={~p"/images/icon.svg"} class="h-[100%] w-auto" />
      </div>
	  -->
      <h1 class="w-full text-xl text-red-600">
        <strong>AoC 2023 solutions in Rust and HTMX</strong>
      </h1>
    </div>
  </div>
</header>
<main>
	{{ inner_content|safe }}
</main>
<footer>
	Trying not to breach trademark or do any other injustice to the creator. Please let me know if that is the case.
</footer>
