<!DOCTYPE html>
<!-- [scrollbar-gutter:stable] reserves space for the scrollbar -->
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- I don't how to do this equivalent of this yet
    <meta name="csrf-token" content={get_csrf_token()} />
	-->
    <title>Advent of Code 2023</title>
	<link href="/static/css/tailwind.css" rel="stylesheet">
    <!-- I don't how to do this equivalent of this yet
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"} />
    </script>
    -->
	<script
		src="https://unpkg.com/htmx.org@1.9.9"
		integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
		crossorigin="anonymous"></script>
  </head>
  <!-- TODO: Put Tailwind class on body for good defaults; "antialiased" smooths fonts -->
  <body class="bg-blue-600 antialiased">
	{{ inner_content|safe }}
  </body>
</html>
