@tailwind base;
@tailwind components;
@tailwind utilities;

.aoc-gradient {
    background-image: linear-gradient(to bottom, #641A61, #551653, #340E33, #010101);
    height: 225px;
}

.index {
	@apply w-full flex flex-col flex-wrap items-center;
	max-height: 300px;
}

a {
    @apply mt-2 mr-2 text-white text-[1rem] font-bold hover:text-red-600;
}


button {
	@apply border border-black bg-white m-2 p-2 text-[1rem] hover:font-bold hover:text-red-600 rounded hover:bg-slate-200;
}

body {
	@apply bg-blue-600 antialiased flex flex-col items-center w-full;
}

main {
	@apply p-3 m-3 bg-green-500 w-[70%] flex flex-col items-center;
	min-height: 300px;
	min-width: 500px;
}

textarea {
	@apply p-2;
	min-width: 500px;
}

header {
    @apply flex justify-between items-center px-6 py-3 bg-blue-950 text-white text-center w-full;
}
